html {
    background-color: black;
    color: white;
    display: flex; 
    justify-content: center;
}
#buttons {
    display: flex;
    justify-content: center;
    border-color: rgb(19, 212, 164);
}

#divForm {
    background-color: green;
}